.ListingContainer--outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ListingContainer {
  margin-top: 16px;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  margin-bottom: 16px;

  &--title {
    margin-left: 16px;
    h1 {
      text-transform: uppercase;
      font-size: 24px;
      color: rgba(247, 247, 248, 0.5);
      margin-bottom: 4px;
    }

    p {
      font-size: 32px;
    }
  }


  &--container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-space {
    justify-content: center;
    align-items: center;
  }
}
