.ProfileCard {
  background: linear-gradient(90deg, rgba(118, 132, 231, 0.1) 0%, rgba(162, 98, 231, 0.1) 99.82%, rgba(118, 132, 231, 0.1) 197.42%) !important;
  border-radius: 12px !important;
  border: none !important;

  .ant-card-actions {
    background: transparent !important;
  }
}